.historyList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  padding-bottom: 3vw;
  gap: 2vw;
}

.historyEmpty {
  position: absolute;
  width: 60vw;
  font-size: 2.5vw;
  top: 10vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 2.6vw;
}

.historyEmptyLink {
  color: rgb(255, 196, 44);
  border-bottom: 0.2vw solid rgb(255, 196, 44);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vw;
  height: 2.5vw;
  border: 0.3vw solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error{
  font-size: 2vw;
}