.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw 3vw;
  width: 40vw;
  border-radius: 1.2vw;
  background: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginTitle {
  font-size: 3.5vw;
  text-transform: uppercase;
  margin-bottom: 1.5vw;
  font-weight: 400;
}

.loginForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer p {
  margin-top: 0.5vw;
}

.loginInput {
  font-size: 2vw;
  border-radius: 1.5vw;
  background: rgb(217, 217, 217);
  padding: 0.75vw 2vw;
  margin-bottom: 2.2vw;
  transition: background 0.2s ease;
  text-align: center;
}

.loginInput:focus {
  background: rgb(255, 255, 255);
}

.inputError {
  color: rgb(231, 76, 76);
  font-size: 1vw;
  position: absolute;
  top: 4vw;
  text-align: center;
}

.loginBtn {
  align-self: center;
  padding: 0.65vw 6vw;
  margin-bottom: 1vw;
}

.loginText {
  font-size: 1vw;
  color: rgb(255, 196, 44);
  text-align: center;
  width: 25vw;
  font-weight: 500;
}

.loginLink {
  text-decoration: underline;
}

.error{
  color: rgb(231, 76, 76);
  font-size: 1vw;
  position: absolute;
  left: 18%;
  top: 0vw;
}

.loader {
  width: 2.5vw;
  height: 2.5vw;
  border: 0.3vw solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 