.userContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15vw;
}

.userInfo{
  font-size: 2vw;
}

p:first-child{
  font-weight: 800;
  margin-bottom: 1.5vw;
}

.userBtn{
  padding: 0.5vw 3.5vw;
  margin-bottom: 1vw;
}